src/main/resources/blocksmith-v2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:jxb="https://jakarta.ee/xml/ns/jaxb" 
            jxb:version="3.0"
            xmlns:btsxml="http://www.blocksmith.io/xml/v2"
            targetNamespace="http://www.blocksmith.io/xml/v2"
            elementFormDefault="qualified">
    
    <xsd:annotation>
        <xsd:appinfo>
            <jxb:schemaBindings>
                <jxb:package name="blocksmith.xml.v2"/>
            </jxb:schemaBindings>
        </xsd:appinfo>
    </xsd:annotation>
    
    <!-- definition of simple elements -->
    <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="integer">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>

    <xsd:simpleType name="double">
        <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    
    <!-- definition of complex elements -->
    <xsd:complexType name="blocks">
        <xsd:sequence>
            <xsd:element name="block" maxOccurs="unbounded" type="btsxml:block"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="block">
        <xsd:attribute name="type" type="btsxml:string" use="required"/>
        <xsd:attribute name="id" type="btsxml:string" use="required"/>
        <xsd:attribute name="label" type="btsxml:string" use="required"/>
        <xsd:attribute name="x" type="btsxml:double" use="optional"/>
        <xsd:attribute name="y" type="btsxml:double" use="optional"/> 
        <xsd:attribute name="width" type="btsxml:double" use="optional"/> 
        <xsd:attribute name="height" type="btsxml:double" use="optional"/>
        <xsd:anyAttribute processContents="skip"/>
    </xsd:complexType>

    <xsd:complexType name="connections">
        <xsd:sequence>
            <xsd:element name="connection" maxOccurs="unbounded" type="btsxml:connection"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="connection">
        <xsd:attribute name="fromBlock" type="btsxml:string" use="required"/>
        <xsd:attribute name="fromPort" type="btsxml:string" use="required"/>
        <xsd:attribute name="toBlock" type="btsxml:string" use="required"/>    
        <xsd:attribute name="toPort" type="btsxml:string" use="required"/>
        <xsd:anyAttribute processContents="skip"/>
    </xsd:complexType>
    
    <xsd:complexType name="values">
        <xsd:sequence>
            <xsd:element name="value" maxOccurs="unbounded" type="btsxml:value"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="value">
        <xsd:attribute name="block" type="btsxml:string" use="required"/>
        <xsd:attribute name="id" type="btsxml:string" use="required"/>
        <xsd:attribute name="value" type="btsxml:string" use="required"/>
        <xsd:anyAttribute processContents="skip"/>
    </xsd:complexType>
    
    <xsd:complexType name="groups">
        <xsd:sequence>
            <xsd:element name="group" maxOccurs="unbounded" type="btsxml:group"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="group">
        <xsd:sequence>
            <xsd:element name="block" maxOccurs="unbounded" type="btsxml:blockRef"/>
        </xsd:sequence>
        <xsd:attribute name="label" type="btsxml:string" use="required"/>
        <xsd:anyAttribute processContents="skip"/>  
    </xsd:complexType>
    
    <xsd:complexType name="blockRef">
        <xsd:attribute name="id" type="btsxml:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="document">
        <xsd:sequence>
            <xsd:element name="blocks" maxOccurs="1" type="btsxml:blocks"/>
            <xsd:element name="connections" maxOccurs="1" type="btsxml:connections"/>
            <xsd:element name="values" maxOccurs="1" type="btsxml:values"/>
            <xsd:element name="groups" maxOccurs="1" type="btsxml:groups"/>
        </xsd:sequence>
        <xsd:attribute name="zoomFactor" type="btsxml:double" use="required"/>
        <xsd:attribute name="translateX" type="btsxml:double" use="required"/>
        <xsd:attribute name="translateY" type="btsxml:double" use="required"/>
        <xsd:anyAttribute processContents="skip"/>  
    </xsd:complexType>

    <xsd:element name="document" type="btsxml:document"/>

</xsd:schema>